@charset "UTF-8";
div.header-page{ background-color: #6695BC; }
section > div.container-tables{ font-size: .75rem; width: 35rem; padding: .55rem .55rem 0 .55rem; }
.table td, .table th{ padding: .15rem; }

div.spinner-border.custom-spinner
{
    width: .8rem !important;
    height: .8rem !important;
    border-width: .16rem !important;
}