main.container-pingserver {
    width: $fullWView;
    background-color: rgba(255, 255, 255, 1);
    header {
        width: $fullWView;
        padding: 5;
        background-color: rgba(102, 149, 188, 1);
    }
}
