<div class="d-flex container-pinger">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
            <div class="container-batua">
                <h2 class="text-center">Site Batuá</h2>
                <table id="tabela-batua" class="table">
                    <thead>
                        <tr>
                            <th scope="col">IP</th>
                            <th scope="col">SERVIDOR</th>
                            <th scope="col">STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[IP]</td>
                            <td>[SERVIDOR]</td>
                            <td>[STATUS]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-batua">
                <h2 class="text-center">DVR ELIANE</h2>
                <table id="tabela-dvreliane" class="table">
                    <thead>
                        <tr>
                            <th scope="col">IP</th>
                            <th scope="col">SERVIDOR</th>
                            <th scope="col">STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[IP]</td>
                            <td>[SERVIDOR]</td>
                            <td>[STATUS]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-batua">
                <h2 class="text-center">RELOGIO DE PONTO</h2>
                <table id="tabela-relogios" class="table">
                    <thead>
                        <tr>
                            <th scope="col">IP</th>
                            <th scope="col">SERVIDOR</th>
                            <th scope="col">STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[IP]</td>
                            <td>[SERVIDOR]</td>
                            <td>[STATUS]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-hasegawa">
                <h2 class="text-center">Site Hasegawa</h2>
                <table id="tabela-hasegawa" class="table">
                    <thead>
                        <tr>
                            <th scope="col">IP</th>
                            <th scope="col">SERVIDOR</th>
                            <th scope="col">STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[IP]</td>
                            <td>[SERVIDOR]</td>
                            <td>[STATUS]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
</div>
<script src="cnt-files/cnt-modules/public-module/js/pinger-js.js" defer></script>